<!-- Categories Section Begin -->
<section class="categories">
	<div class="container">
		<div class="row">
			<div  class="categories__slider owl-carousel">
				<th:block th:each="book : ${topPopularBooks}">
					<div class="col-lg-3">
						<div class="categories__item set-bg"
							 th:attr="data-setbg='/img/book/'+${book.id}+'.jpg'">
							<h5>
								<a th:href="@{'/book?id='+${book.id}}" th:text="${book.title}"></a>
							</h5>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</div>
</section>
<!-- Categories Section End -->