<section id="product" class="product spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-5">
				<div class="sidebar">

					<div class="sidebar__item">
						<h4>Tất cả Loại sách</h4>
						<ul>
							<th:block th:each="category : ${categories}">
								<li class="cate"><a href="#product"
									th:onclick="'doGetJSON('+${category.id}+');'"
									th:text="${category.name}"
									th:class="${category.id == id}?'active':''"></a></li>
							</th:block>
						</ul>
					</div>
					<div class="sidebar__item input-group mb-3">
						<input type="text" class="form-control" placeholder="Keywords"
							aria-label="Keywords" aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn btn-success" type="submit">Tìm</button>
						</div>
					</div>
					<div class="sidebar__item">
						<h4>Popular Size</h4>
						<div class="sidebar__item__size">
							<label for="large"> Large <input type="radio" id="large">
							</label>
						</div>
						<div class="sidebar__item__size">
							<label for="medium"> Medium <input type="radio"
								id="medium">
							</label>
						</div>
						<div class="sidebar__item__size">
							<label for="small"> Small <input type="radio" id="small">
							</label>
						</div>
						<div class="sidebar__item__size">
							<label for="tiny"> Tiny <input type="radio" id="tiny">
							</label>
						</div>
					</div>
					<div class="sidebar__item">
						<div class="latest-product__text">
							<h4>Latest Products</h4>
							<div class="latest-product__slider owl-carousel">
								<div class="latest-prdouct__slider__item">
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="/img/latest-product/lp-1.jpg" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Crab Pool Security</h6>
											<span>$30.00</span>
										</div>
									</a> <a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="/img/latest-product/lp-2.jpg" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Crab Pool Security</h6>
											<span>$30.00</span>
										</div>
									</a> <a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="/img/latest-product/lp-3.jpg" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Crab Pool Security</h6>
											<span>$30.00</span>
										</div>
									</a>
								</div>
								<div class="latest-prdouct__slider__item">
									<a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="/img/latest-product/lp-1.jpg" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Crab Pool Security</h6>
											<span>$30.00</span>
										</div>
									</a> <a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="/img/latest-product/lp-2.jpg" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Crab Pool Security</h6>
											<span>$30.00</span>
										</div>
									</a> <a href="#" class="latest-product__item">
										<div class="latest-product__item__pic">
											<img src="/img/latest-product/lp-3.jpg" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>Crab Pool Security</h6>
											<span>$30.00</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-7">
				<div class="filter__item">
					<div class="row">
						<div class="col-lg-4 col-md-5">
							<div class="filter__sort">
								<span>Sort By</span> <select>
									<option value="0">Default</option>
									<option value="0">Default</option>
								</select>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="filter__found">
								<h6>
									<span id="count"></span> Books found
								</h6>
							</div>
						</div>
						<div class="col-lg-4 col-md-3">
							<div class="filter__option">
								<span class="icon_grid-2x2"></span> <span class="icon_ul"></span>
							</div>
						</div>
					</div>
				</div>
				<div id="paginate">
					<div id="books" class="row"></div>
					<div class="pager product__pagination">
						<div id="pageNumbers1" class="pageNumbers"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>