<!DOCTYPE html>
<html lang="zxx">

<head th:replace="fragments/head"></head>

<body th:onload="'doGetJSON('+${id}+');'" >
	<!-- Page Preloder  -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<input type="hidden" id="category" th:value="${id}"/>
	<div th:replace="fragments/humble"></div>

	<header th:replace="fragments/header"></header>

	<section th:replace="fragments/sectionHero1"></section>

	<section th:replace="fragments/breadcrumb"></section>

	<section th:replace="fragments/product"></section>

	<footer th:replace="fragments/footer"></footer>

	<!-- Js Plugins -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/jquery.slicknav.js"></script>
	<script src="/js/mixitup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/bookInCategory.js"></script>

</body>
</html>